*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}


/* PlaywriteDEGrund varianten */
@font-face {
    font-family: 'PlaywriteDEGrund';
    src: url('/css/fonts/PlaywriteDEGrund-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlaywriteDEGrund';
    src: url('/css/fonts/PlaywriteDEGrund-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PlaywriteDEGrund';
    src: url('/css/fonts/PlaywriteDEGrund-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'PlaywriteDEGrund';
    src: url('/css/fonts/PlaywriteDEGrund-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Roboto variabel font */
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('/css/fonts/Roboto-Variable...wght.ttf') format('truetype');
    font-weight: 100 900; /* ondersteunt alle gewichten */
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('/css/fonts/Roboto-Italic-Variable...wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}


:root {
    --font-color: #051B0D;
    --lght-font-color: rgba(5, 27, 13, 0.6);
    --white: #fff;
    --black: #000;
    --bgwhite: #F2F2F2;
    --drkgreen: #385C45;
    --lghtgreen: #D0DED5;
    --red: #ED1822;
    --drkred: hsl(357, 86%, 41%);
}


body {
    font-family: 'Roboto', 'sans-serif';
    background-color: var(--bgwhite);
}

a {
    all: unset;

}

a:hover {
    cursor: pointer;

}


.navigation-sticky {
    z-index: 1000;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigation-wrapper {
    position: absolute;
    margin-top: 20px;
    height: 100px;
    width: 75%;
    background-color: var(--drkgreen);
    border-radius: 40px;
    display: flex;

    justify-content: center;
    align-items: center;
}

/* Overlay standaard onzichtbaar */
.overlay {
    position: fixed;
    inset: 0; /* top:0, left:0, right:0, bottom:0 */
    background: var(--drkgreen);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 1500;
  }
  
  .overlay ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    text-align: center;
  }
  
  .overlay ul li a {
    font-size: 3.2rem;
    color: var(--white);
    text-decoration: none;
  }
  
  /* Actief menu */
  .overlay.active {
    transform: translateY(0);
  }
  
  /* Hamburger */
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 2001; /* boven overlay */
    position: relative;
  }
  
  .hamburger span {
    width: 30px;
    height: 3px;
    background: var(--white);
    border-radius: 2px;
    transition: 0.3s;
  }
  
  /* kruis animatie */
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  

.navigation {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul {
    height: 100%;
    width: 50%;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 3.6rem;
}

.navigation img {
    height: 75%;
    width: auto;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 2000; /* boven je menu */
  }
  
  .hamburger span {
    width: 30px;
    height: 3px;
    background: var(--white);
    border-radius: 2px;
    transition: 0.3s;
  }
  
  /* Menu standaard */
  .navigation ul {
    transition: all 0.3s ease-in-out;
  }
  

h1 {
    font-size: 6.4rem;
    color: var(--white);
    font-family: 'PlaywriteDEGrund', sans-serif;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    z-index: 100;
}

h2 {
    font-size: 3.6rem;
    font-family: 'PlaywriteDEGrund', sans-serif;
}

h3 {
    font-size: 3.1rem;
    font-family: 'PlaywriteDEGrund', sans-serif;

}

li {
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

a{
    font-family: 'Roboto', sans-serif;
}

.phone {
    height: 2.1rem;
    width: auto;
}

footer a {
    font-size: 2.1rem;
}

header {
    width: 100%;
    height: 75vh;
    background-color: #8e8e8e;

}

.header-content {

    height: 75vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-content::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: 1;
  }

.btn {
    background-color: var(--red);
    padding: 15px 1.3em;
    text-align: center;
    font-size: 2.4rem;
    color: var(--white);
}

.btn:hover {
    background-color: var(--drkred);

}

.subtitles {
    width: 100%;
    background-color: var(--lghtgreen);
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitles ul {
    flex-wrap: wrap;
    width: 70%;
    list-style-position: inside;
    font-size: 3.1rem;
    color: var(--font-color);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 76px;
}

.main-content {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 76px;
}

.main-content .intro {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-content .intro>article {
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.main-content .intro-tekst {
    max-width: 50%;
    font-size: 2.6rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-content .intro article>img {
    height: 100%;
    width: auto;
    border-radius: 20px;
}

.main-content .btn {
    width: 10vw;
    margin-top: 3px;
}

.main-content .productenlijst {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main-content .productenlijst>input {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-size: 2.1rem;
    text-indent: 20px;
}

.main-content .productenlijst .productencards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.main-content .productenlijst .productencards>div {
    min-width: 48%;
    max-width: 80%;
    color: var(--font-color);
    font-size: 2.6rem;
    background-color: var(--lghtgreen);
    border-radius: 20px;
    padding: 32px 25px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

/* .main-content .productenlijst .productencards > div{
    min-width: 100%;
} */

.main-content .productenlijst .producten-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.main-content .productenlijst .productencards>div>div>div {
    display: flex;
    justify-content: space-between;
}

.main-content .productenlijst .productencards>div>div>div .prijs {
    display: flex;
    gap: 5px;
}

.main-content .productenlijst .productencards>div>div p {
    font-size: 2.1rem;

}

.main-content .productenlijst .productencards>div>div .per {
    font-size: 1.6rem;
    color: var(--lght-font-color);
}

iframe {
    margin-bottom: 76px;
}


.footer-wrapper {
    position: relative;
    width: 100%;
    background-color: var(--lghtgreen);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}

.footer-content {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.footer-content a, .footer-content p{
    font-size: 2.1rem;
    line-height: 2.8rem;
}

.footer-content > div{
    width: 47%;
    padding: 32px 25px;

}

.footer-content .footer-left .phone-number{
    display: flex;
    gap: 10px;
}


.footer-content > div{
    display: flex;
    flex-direction: column;
}

.footer-content .footer-right > div{
    display: flex;
    gap: 30px;
}


footer>div>div img {
    width: 65px;
    height: 65px;
}

footer .zwarte-balk {
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

footer .zwarte-balk .zwart-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

footer .zwarte-balk a{
    font-size: 1.6rem;
    color: var(--white);
}

@media only screen and (max-width: 1237px) {
    
    .header-content {
        background-size: auto 100%;

    }


    .main-content .intro article>img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 30px;
    }


  }

  @media only screen and (max-width: 1245px) {
    .main-content .productenlijst .productencards > div{
        min-width: 100%;
    }
  }

  @media only screen and (max-width: 1152px) {
    
    .navigation-wrapper{
        width: 90%;
    }

    .navigation ul {
    width: 70%;
    }
  }

  @media only screen and (max-width: 1110px) {
    

  .main-content .intro>article {
        flex-direction: column-reverse;
    }

    .main-content .intro article>img {
        width: 80%;
        height: auto;
    }

    .main-content .intro-tekst {
        max-width: 100%;
    }

    h2 {
        font-size: 2.8rem;
    }
    
    h3 {
        font-size: 2.6rem;
    
    }


  }

  @media only screen and (max-width: 930px) {

    .subtitles ul {
        justify-content: center;
    }
    
    .footer-content{
        flex-direction: column;
        gap: 0;
    }

    .footer-content > div{
        width: 100%;
    }

    footer .zwarte-balk .zwart-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .subtitles ul {
font-size: 2.6rem;    }

.navigation ul {
    display: none; /* gewone menu niet tonen */
  }
  .hamburger {
    display: flex;
  }
  
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  }

  @media only screen and (max-width: 750px){
    .navigation{
        width: 85%;
    }
  }